[project]
name = "final_project"
version = "0.1.0"
description = "Programming I final project - Airbnb simulation"
requires-python = ">=3.10"

dependencies = [
  "numpy",
  "pandas",
  "matplotlib",
]

[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

